:root {
    --fontColor: white;
    --greyLight: rgb(119, 117, 117);
    --greyMedium: #444444;
    --greyDark: #202020;
    --accent: #2a3a65;
    --accentLight: #556184;
    --accentHover: #8292bb;
    --accentActive: #bec8e2;
    --lighter: rgb(255, 255, 255, 0.2);
    --muchLighter: rgb(255, 255, 255, 0.4);
    --darker: rgb(0, 0, 0, 0.4);
    --muchDarker: rgb(0, 0, 0, 0.64);
    --muchMuchDarker: rgb(0, 0, 0, 0.84);
    --background: #212736;
    --highlight: #9e7d36;
    --highlightHover: #be902b;
    --highlightActive: #ffdb8c;
    --lowlight: #555555;
    --admin: #af8f49;
    --true: #6cd394;
    --warning: rgb(158, 54, 54);
    --none: rgb(255, 255, 255, 0);

    --gradientToRightLighterNone: linear-gradient(to right, var(--lighter), var(--none));
    --gradientToLeftMuchLighterNone: linear-gradient(to left, var(--muchLighter), var(--none));

    --border: 0.2rem solid #556184;
    --borderRadius: 0.4rem;
    --borderRadiusButtons: 0.4rem;
    --fontFamily: 'Quicksand', sans-serif;
    --boxShadow: 0px 0px 0.54rem var(--darker);
    --fontSize: 1.4rem;
    --fontSizeLarge: 1.5rem;
    --fontSizeMedium: 1.2rem;
    --fontSizeSmall: 0.8rem;
    --transitionFast: 0.01s ease-in-out;
    --transitionNormal: 0.04s ease-in-out;
    --transitionSlow: 4s ease-out;
}

@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/quicksand-v30-latin-ext_latin-regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/quicksand-v30-latin-ext_latin-700.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        /*url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
        url(fonts/MaterialIcons-Regular.woff) format('woff'),*/
        url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    vertical-align: middle;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

a:hover {
    color: var(--accentActive);
}