:root {
    --fontColor: white;
    --accent: black;
    --accentLight: black;
    --accentHover: linear-gradient(to top, rgba(255, 255, 255, 0.2), var(--none));
    --accentActive: black;
    --lighter: black;
    --muchLighter: black;
    --darker: black;
    --muchDarker: black;
    --muchMuchDarker: black;
    --background: black;
    --highlight: black;
    --highlightHover: black;
    --highlightActive: black;
    --lowlight: #555555;
    --admin: #af8f49;
    --true: black;
    --warning: black;
    --none: rgb(255, 255, 255, 0);

    --gradientToRightLighterNone: linear-gradient(to right, var(--lighter), var(--none));
    --gradientToLeftMuchLighterNone: linear-gradient(to left, var(--muchLighter), var(--none));

    --border: 1px solid white;
    --borderRadius: 0rem;
    --borderRadiusButtons: 0;
    --fontFamily: 'Staatliches', sans-serif;
    --boxShadow: 0px 0px 0.54rem var(--darker);
    --fontSize: 1.4rem;
    --fontSizeLarge: 1.5rem;
    --fontSizeMedium: 1.2rem;
    --fontSizeSmall: 0.8rem;
    --transitionFast: 0.2s ease-out;
    --transitionNormal: 0.4s ease-in-out;
    --transitionSlow: 4s ease-out;
}

@font-face {
    font-family: 'Staatliches';
    src: url('fonts/Staatliches/Staatliches-Regular.ttf');
    font-display: swap;
}



.clear {
    opacity: 1;
    border-radius: 0;
    padding-bottom: 1.2rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), var(--none));
}

.clear:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), var(--none));
}

.material-icons {
    border: 1px solid var(--none);
}

.material-icons:hover {
    border: 1px solid white;
    border-radius: 50%;
}

button {
    border: 1px solid black;
}

button:hover,
.operation:hover,
button.equal:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.4), var(--none));
    border: 1px solid white;
}

.menu-button:hover {
    border: none;
}

.dot {
    background: radial-gradient(var(--none), rgba(255, 255, 255, 0.2));
}

.dot:hover {
    background: radial-gradient(var(--none), rgba(255, 255, 255, 0.4));
}

button,
button.operation,
button.equal {
    background: var(--accentHover);
}

.display,
.display:hover,
.display:focus {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    padding: 0;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.calculator {
    aspect-ratio: unset;
}

#increase.sizeButton,
#decrease.sizeButton {
    border-radius: 50%;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 3rem;
    background: var(--highlight);
}

#increase.sizeButton:hover,
#decrease.sizeButton:hover {
    border-radius: 50%;
    margin-right: 1rem;
    padding: 1rem;
    background: var(--highlightActive);
}

.sizeButton:hover {
    background: var(--accentActive);
}

#infoBox {
    background: white;
}

#infoBox p,
#infoBox a {
    color: black;
    border: 1px solid var(--none);
    padding: 0.1rem 0.2rem;
    padding-top: 0.25rem;
}

#infoBox a:hover {
    border: 1px solid black;
}

#infoBox .dot::after {
    background: black;
}

@keyframes pop {
    0% {}

    0% {
        opacity: 0;
    }

    100% {}
}

@keyframes border {
    0% {}

    10% {
        color: var(--lighter);
    }

    20% {}

    30% {
        color: var(--fontColor);
    }

    100% {}
}

@media (max-height: 500px) {
    .display {
        font-size: var(--fontSize);
        margin-bottom: 0;
        padding-top: 1rem;
    }
}

@media (max-width: 400px) {
    .display {
        font-size: var(--fontSize);
        margin-bottom: 0;
        padding-top: 1rem;
    }
}